/.idea/

/EXPERIMENT_RESULTS/0/
/EXPERIMENT_RESULTS/230/
/EXPERIMENT_RESULTS/350/
/EXPERIMENT_RESULTS/480/
/EXPERIMENT_RESULTS/560/
/EXPERIMENT_RESULTS/0_run2/
/EXPERIMENT_RESULTS/0_run3/
/EXPERIMENT_RESULTS/230_run2/
/EXPERIMENT_RESULTS/230_run3/
/EXPERIMENT_RESULTS/350_run2/
/EXPERIMENT_RESULTS/350_run3/
/EXPERIMENT_RESULTS/480_run2/
/EXPERIMENT_RESULTS/480_run3/
/EXPERIMENT_RESULTS/560_run2/
/EXPERIMENT_RESULTS/560_run3/
/boxplot_total_power_by_load_and_run.pdf
/container_power_consumption_boxplots_all_loads.pdf
/delta_power_vs_loadlevel.pdf
/idle_power_consumption_boxplot.pdf
/power_consumption_boxplots_all_loads.pdf
/power_consumption_combined_barchart.pdf
/process_power_consumption_boxplots_all_loads.pdf
